 <nav class="navbar navbar-default navbar-fixed-top navbar-expand-lg">
  <div class="navbar-collapse">        
  <ul id="nav-left" class="nav navbar-nav">            
    <li class="nav-home" [routerLink]="['']">Home</li>         
       <li class="nav-projects" [routerLink]="['']">Experience</li>        
           <li class="nav-publications" [routerLink]="['publications']">Publications</li>            
          <li class="nav-cv"[routerLink]="['']">CV</li>    
      </ul>   
    </div>
</nav>

<router-outlet></router-outlet>

<div class="contact" style="border: none;">
    <div class="row">
    <div class="contact-item col-md-3">
        <strong>lee.herzog5@gmail.com</strong><br>
        <strong>Cell</strong> 058-442-4049<br>
        <strong>Whatsapp</strong> +1-917-892-4935<br>
    </div>


    <div class="contact-item col-md-2">
        <strong>Location</strong><br>
        <span>Tel Aviv, Israel</span> <br>
        <span>New York, USA</span>
    </div>
    </div>
</div>

